@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
    color: #b62937;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(83, 83, 83);
    border-radius: 10px;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(89, 89, 89);
}

.change-log b {
    font-weight: 600;
}

.change-log ul {
    list-style-type: circle;
    padding-left: 2rem;
}